
    <div class="card img-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/images/Event-img.jpg">
    </div>
    <div class="card-content">
        <form action="/events/new-event" method="POST">
        <span class="card-title activator grey-text text-darken-4"><input type="text" name="title" class="form-control" placeholder="Title" autofocus/><i class="material-icons right">more_vert</i></span>
        <button class="btn red lighten-1 btn-block" type="submit">Save</button>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><input type=" name="Category" placeholder="Category" autofocus/><i class="material-icons right">close</i></span>
        <textarea name="description" class="form-control" placeholder="Description" cols="30" rows="10"></textarea>
      </div>
    </form>
  </div>
          


