<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum rem quisquam earum laborum deleniti! Perspiciatis vitae cumque error dignissimos possimus sunt, fugit obcaecati inventore modi facilis nam? Impedit fugiat quibusdam assumenda, aliquid ut, itaque, autem vel deserunt eaque vitae ipsum!</p>
  </div>
</div>