// body {
//   background-color: #E8ECEF;
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #52437b;
}

.centered {
    padding-top: 200px;
    text-align: center;
    margin-bottom: 0;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  
}

.page-footer {
  padding: 0;
}

.container {
  min-height: 85vh;
  color: #ef5350;
}

.fab-gl i {
  margin-right: 40px;
}

.footer {
  margin-left: 40px;
}

.nav-wrapper {
  margin: 0 40px;
}

